
/*页底*/
footer{
    width: 100%;
    height: 140px;
    background: #4e555b;
}

.footer_main{
    height: 110px;
    margin-left: 200px;
}
.footer_main_icon{
    height: 100%;

}

.footer_main_text{
    height: 100%;
    border-left: #adb6ad 1px solid;
}
.footer_main_text_name{
    font-size: 20px;
    color: #fff;
}
.footer_main_text_email{
    font-size: 14px;
    color: #aaa;
}
.footer_main_text_company{
    font-size: 16px;
    color: #ddd;
}