*{
    margin:0;
    padding: 0;
}
a,a:hover{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
nav{
}
/* 别看啦
要我陪你吗
mua~
*/
.nav_main{
    margin: 0 auto;
    height: 60px;
    box-shadow: black 0 -2px 4px;
    padding:0 15%;
}

.nav_main h1{
    display: inline-block;
    float: left;
}

.nav_main_title{
    height: 100%;
    width: 50%;
    float: left;
    margin-left: 50px;


}
.nav_main img{
    width: 60px;
    height: 60px;
    float: left;
}


.nav_main_title ul li{
    float: left;
    max-width: 150px;
    height: 100%;
}
/* 框框怎么出来
    ·用border
    大小怎么控制
    width是宽
    height是高
    px是像素
    爱你哟
    我也爱你哟

    你刚把代码都差点删了哈哈哈哈哈

*/

.nav_main_title ul li:hover{
    background: rgb(29, 93, 189);

}

.nav_main_title ul li:hover a{
    color: #fff;
}
.nav_main_title ul li a{
    font-size: 24px;
    display: inline-block;
    text-align: center;
    width: 130px;
    height:60px;
    color: black;
    font-weight: bold;
    transition: .3s;
    line-height: 60px;
}
/* 宝宝不会打字了 我爱你
我也爱你

不丑，好看
咋出来的☃
宝宝乖好卡哈哈哈哈哈哈哈哈哈哈哈哈
好看的我哈哈哈哈哈
*/

.title_active>a{
}

.nav_main_title ul li .title_active{
    background: rgb(29, 93, 189);
    color: #fff;
}

.nav_main_user{
    height: 100%;
    width: 18%;
    float: right;
    margin-top: 10px;
}
/* 看啥呢
    为啥会有下划线
    有去掉的
*/
.nav_main_user img{
    width: 40px;
    height: 40px;
    margin: auto 0;
}

.nav-item a{
    font-size: 18px;
    display: inline-block;
    text-align: center;
    height:50px;
    color: black;
    transition: .3s;
    line-height: 40px;

}


.person_icon{
    height: 350px;
    width: 100%;
    background: #0e7478;
    text-align: center;
    padding-top: 30px;
}

.person_icon img{
    width: 200px;
    height: 200px;
    /*margin-left: 435px;*/
}
.person_name{
    font-size: 35px;
    font-weight: bolder;
}
.person_email{
    font-family: "Poppins" , sans-serif;
    font-size: 18px;
    color: #4e555b;
}